{% extends 'fasteat/base.html' %}
{% load static %}
{% block content %}


<!-- SubHeader =============================================== -->
<section class="parallax-window" id="short" data-parallax="scroll" data-image-src="{% static 'img/bg.jpeg' %}" data-natural-width="1400" data-natural-height="350">
    <div id="subheader">
    	<div id="sub_content">
    	 <h1>Submit your restaurant</h1>
         <p>Simpily submit your restaurant and create your online menu</p>
         <p></p>
        </div><!-- End sub_content -->
	</div><!-- End subheader -->
</section><!-- End section -->
<!-- End SubHeader ============================================ -->

    <div id="position">
        <div class="container">
            <ul>
                <li><a href="#0">Home</a></li>
                <li><a href="#0">Category</a></li>
                <li>Page active</li>
            </ul>
            <a href="#0" class="search-overlay-menu-btn"><i class="icon-search-6"></i> Search</a>
        </div>
    </div><!-- Position -->

<!-- Content ================================================== -->
{#<div class="container margin_60_35">#}
{#    <div class="main_title margin_mobile">#}
{#            <h2 class="nomargin_top">Increase your customers</h2>#}
{#            <p>#}
{#                Cum doctus civibus efficiantur in imperdiet deterruisset.#}
{#            </p>#}
{#        </div>#}
{#	<div class="row">#}
{#		<div class="col-md-6 wow fadeIn" data-wow-delay="0.1s">#}
{#			<div class="feature">#}
{#				<i class="icon_datareport"></i>#}
{#				<h3><span>Increase</span> your sales</h3>#}
{#				<p>#}
{#					 Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor imperdiet deterruisset, doctus volumus explicari qui ex, appareat similique an usu.#}
{#				</p>#}
{#			</div>#}
{#		</div>#}
{#		<div class="col-md-6 wow fadeIn" data-wow-delay="0.2s">#}
{#			<div class="feature">#}
{#				<i class="icon_chat_alt"></i>#}
{#				<h3><span>H24</span> chat support</h3>#}
{#				<p>#}
{#					 Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor imperdiet deterruisset, doctus volumus explicari qui ex, appareat similique an usu.#}
{#				</p>#}
{#			</div>#}
{#		</div>#}
{#	</div><!-- End row -->#}
{#	<div class="row">#}
{#		<div class="col-md-6 wow fadeIn" data-wow-delay="0.3s">#}
{#			<div class="feature">#}
{#				<i class="icon_bag_alt"></i>#}
{#				<h3><span>Delivery</span> or Takeaway</h3>#}
{#				<p>#}
{#					 Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor imperdiet deterruisset, doctus volumus explicari qui ex, appareat similique an usu.#}
{#				</p>#}
{#			</div>#}
{#		</div>#}
{#		<div class="col-md-6 wow fadeIn" data-wow-delay="0.4s">#}
{#			<div class="feature">#}
{#				<i class="icon_mobile"></i>#}
{#				<h3><span>Mobile</span> support</h3>#}
{#				<p>#}
{#					 Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor imperdiet deterruisset, doctus volumus explicari qui ex, appareat similique an usu.#}
{#				</p>#}
{#			</div>#}
{#		</div>#}
{#	</div><!-- End row -->#}
{#	<div class="row">#}
{#		<div class="col-md-6 wow fadeIn" data-wow-delay="0.5s">#}
{#			<div class="feature">#}
{#				<i class="icon_wallet"></i>#}
{#				<h3><span>Cash</span> payment</h3>#}
{#				<p>#}
{#					 Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor imperdiet deterruisset, doctus volumus explicari qui ex, appareat similique an usu.#}
{#				</p>#}
{#			</div>#}
{#		</div>#}
{#		<div class="col-md-6 wow fadeIn" data-wow-delay="0.6s">#}
{#			<div class="feature">#}
{#				<i class="icon_creditcard"></i>#}
{#				<h3><span>Secure card</span> payment</h3>#}
{#				<p>#}
{#					 Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor imperdiet deterruisset, doctus volumus explicari qui ex, appareat similique an usu.#}
{#				</p>#}
{#			</div>#}
{#		</div>#}
{#	</div><!-- End row -->#}
{#</div><!-- End container -->#}
{##}
{#<div class="white_bg">#}
{#	<div class="container margin_60_35">#}
{#    <div class="main_title margin_mobile">#}
{#            <h2 class="nomargin_top">Our Plans</h2>#}
{#            <p>#}
{#                Cum doctus civibus efficiantur in imperdiet deterruisset.#}
{#            </p>#}
{#        </div>#}
{#    	 <div class="row text-center plans">#}
{#                <div class="plan col-md-4">#}
{#                    <h2 class="plan-title">1 Month Plan</h2>#}
{#                    <p class="plan-price">$99<span>/00</span></p>#}
{#                    <ul class="plan-features">#}
{#                        <li><strong>Check and go</strong> included</li>#}
{#                        <li><strong>1 month</strong> valid</li>#}
{#                        <li><strong>Unsubscribe</strong> anytime</li>#}
{#                    </ul>#}
{#                </div> <!-- End col-md-4 -->#}
{#                #}
{#                <div class="plan plan-tall col-md-4">#}
{#                <span class="ribbon"></span>#}
{#                <span class="ribbon_table"></span>#}
{#                    <h2 class="plan-title">3 Months Plan</h2>#}
{#                    <p class="plan-price">$199<span>/00</span></p>#}
{#                    <ul class="plan-features">#}
{#                    	<li><strong>Premium</strong> support</li>#}
{#                        <li><strong>Check and go</strong> included</li>#}
{#                         <li><strong>APP</strong> included</li>#}
{#                        <li><strong>3 months</strong> valid</li>#}
{#                        <li><strong>Unsubscribe</strong> anytime</li>#}
{#                    </ul>#}
{#                </div><!-- End col-md-4 -->#}
{#                #}
{#                <div class="plan col-md-4">#}
{#                    <h2 class="plan-title">6 Months Plan</h2>#}
{#                    <p class="plan-price">$299<span>/00</span></p>#}
{#                    <ul class="plan-features">#}
{#                    	<li><strong>Premium</strong> support</li>#}
{#                        <li><strong>Check and go</strong> included</li>#}
{#                        <li><strong>6 months</strong> valid</li>#}
{#                        <li><strong>Unsubscribe</strong> anytime</li>#}
{#                    </ul>#}
{#                </div><!-- End col-md-4 -->#}
{#            </div><!-- End row plans-->#}
{#    </div><!-- End container -->#}
{#</div><!-- End white_bg -->#}

<div class="container margin_60 white_bg">
	 <div class="main_title margin_mobile">
            <h2 class="nomargin_top">Please submit the form below</h2>
            <p>
                Cum doctus civibus efficiantur in imperdiet deterruisset.
            </p>
        </div>
	<div class="row">
    	<div class="col-md-8 col-md-offset-2">
        	<form >
						<div class="row">
							<div class="col-md-6 col-sm-6">
								<div class="form-group">
									<label>First name</label>
									<input type="text" class="form-control" id="name_contact" name="name_contact" placeholder="Jhon">
								</div>
							</div>
							<div class="col-md-6 col-sm-6">
								<div class="form-group">
									<label>Last name</label>
									<input type="text" class="form-control" id="lastname_contact" name="lastname_contact" placeholder="Doe">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 col-sm-6">
								<div class="form-group">
									<label>Email:</label>
									<input type="email" id="email_contact" name="email_contact" class="form-control " placeholder="jhon@email.com">
								</div>
							</div>
							<div class="col-md-6 col-sm-6">
								<div class="form-group">
									<label>Phone number:</label>
									<input type="text" id="phone_contact" name="phone_contact" class="form-control" placeholder="00 44 5435435">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label>Restaurant name</label>
                                   <input type="text" id="restaurant" name="restaurant" class="form-control" placeholder="Pizza King">
								</div>
							</div>
                            <div class="col-md-6">
								<div class="form-group">
									<label>Website</label>
                                   <input type="text" id="restaurant_web" name="restaurant_web" class="form-control" placeholder="http://">
								</div>
							</div>
						</div><!-- End row  -->
                        <div class="row">
							<div class="col-md-6">
								<div class="form-group">
                                	<label>City</label>
                                   <input type="text" id="restaurant_city" name="restaurant_city" class="form-control" placeholder="Las Vegas">
								</div>
							</div>
                            <div class="col-md-6">
								<div class="form-group">
                                	<label>Postal code</label>
                                   <input type="text" id="restaurant_postal_code" name="restaurant_postal_code" class="form-control" placeholder="00103">
								</div>
							</div>
						</div><!-- End row  -->
                        <div class="row">
							<div class="col-md-6">
								<div class="form-group">
                                	<label>Create a password</label>
                                   <input type="text" class="form-control" placeholder="Password"  id="password1">
								</div>
							</div>
                            <div class="col-md-6">
								<div class="form-group">
                                	<label>Confirm password</label>
                                   <input type="text" class="form-control" placeholder="Confirm password"  id="password2">
								</div>
							</div>
						</div><!-- End row  -->
                        <div id="pass-info" class="clearfix"></div>
                        <div class="row">
                        	<div class="col-md-6">
									<label><input name="mobile" type="checkbox" value="" class="icheck" checked>Accept <a href="#0">terms and conditions</a>.</label>
							</div>
                            </div><!-- End row  -->
                        <hr style="border-color:#ddd;">
                        <div class="text-center"><button class="btn_full_outline">Submit</button></div>
					</form>
        </div><!-- End col  -->
    </div><!-- End row  -->
</div><!-- End container  -->
<!-- End Content =============================================== -->


{% endblock content %}
